
body, html {
  height: 100%;
  margin: 0;

  
  
}



.link-effect {
	a {
		color: #86c06c;
		margin: 0 20px;
		padding: 10px 20px;
		position: relative;
		overflow: hidden;
		display: inline-block;
		@include transition(.3s ease-out);
		span{
			&::before{
				width: 5px;
				height: 5px;
				background: transparent;
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				border-top: 2px solid white;
				border-left: 2px solid white;
				@include transition (.3s);
				opacity: 0;
			}
			&::after{
				width: 5px;
				height: 5px;
				background: transparent;
				content: "";
				position: absolute;
				right: 0;
				bottom: 0;
				border-right: 2px solid white;
				border-bottom: 2px solid white;
				@include transition (.3s);
				opacity: 0;

			}
		}
		&::before {
			width: 5px;
			height: 5px;
			background: transparent;
			content: "";
			position: absolute;
			right: 0;
			top: 0;
			border-right: 2px solid white;
			border-top: 2px solid white;
			@include transition (.3s);
			opacity: 0;
		}
		&::after {
			width: 5px;
			height: 5px;
			background: transparent;
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			border-left: 2px solid white;
			border-bottom: 2px solid white;
			@include transition (.3s);
			opacity: 0;
		}
		&:hover{
			color: white;
			&::before{
				opacity: 1;
				right: 5px;
				top: 5px;
			}
			&::after{
				opacity: 1;
				left: 5px;
				bottom: 5px;
			}
			span{
				&::before{
					opacity: 1;
					left: 5px;
					top: 5px;
				}
				&::after{
					opacity: 1;
					right: 5px;
					bottom: 5px;
				}
			}
		}
	}
}
		  
		  
/* Thanks hafiz fattah for the link styling https://codepen.io/hafizfattah/# */

.bg {
 background-image: url('https://raw.githubusercontent.com/belowmars/belowmars.github.io/master/img/background.png');
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
	position: absolute;
	top: 10px;
	left: 16px;
}

.title img {
	width: 40%;
}

#flex-container {
    display: flex;
    margin: 0;
	background-color: #071821;
}

#flex-item {
    text-align: center;
	margin: 10px;
	padding: 10;
	width: 100%;
	

}

	
	
#h3-footer {
	color: #e0f8cf;
	font-family: "Verdana";
	font-size:30px;

}