body {
 background-image: url('https://raw.githubusercontent.com/belowmars/belowmars.github.io/master/img/background.png');
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;

}

h3 {
  color: Tomato;
  font-size: 6vw;
  font-family: Arial;
  text-align: center;
}
