
body, html {
  height: 100%;
  margin: 0;

  
  
}

a:link, a:visited {
	color:#86c06c;
}


	
a:hover, a:active {
	text-decoration: none;
	color: #306850;
}


.bg {
 background-image: url('https://raw.githubusercontent.com/belowmars/belowmars.github.io/master/img/background.png');
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
	position: absolute;
	top: 10px;
	left: 16px;
}

.title img {
	width: 40%;
}

#flex-container {
    display: flex;
    margin: 0;
	background-color: #071821;
}

#flex-item {
    text-align: center;
	margin: 10px;
	padding: 10;
	width: 100%;
	

}

	
	
#h3-footer {
	color: #e0f8cf;
	font-family: "Verdana";
	font-size:30px;

}